body {
  background: white;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
  height: 5px;
  color: black;
  position: absolute;
  top: 50%;
  background-color: black;
  width: 100%;
}

.vertical {
  width: 5px;
  position: absolute;
  left: 50%;
  color: black;
  background-color: black;
  height: 100%;
}
